<div class="container-fluid">
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome da música</th>
      <th scope="col">Nome do Artista</th>
      <th scope="col">Ano de lançamento</th>
      <th scope="col">Gênero</th>
      <th scope="col">Gravadora</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let music of musics">
      <th scope="row">{{music.id}}</th>
      <td>{{music.title}}</td>
      <td>{{music.artist}}</td>
      <td>{{music.year}}</td>
      <td>{{music.genre}}</td>
      <td>{{music.label}}</td>
    </tr>
  </tbody>
  </table>
</div>




